@import '../core/functions';

// .article {
//   &__img {
//   }
//   &__title {
//   }
//   &__list {
//     &_element {
//     }
//   }
// }
// .link {
// }
.icon {
  width: rem(30);
  height: rem(30);
  color: green;
}

.fa-alien-8bit {
  width: rem(30);
  height: rem(30);
  color: green;
}
