@import '../core/functions';
@import '../core/variables';

.form {
  padding-top: rem(5);
  @media all and (min-width: rem(768)) {
    text-align: center;
  }

  &_label {
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: rem(10) rem(10) rem(10) rem(5);
    @media all and (min-width: rem(768)) {
      font-size: rem(20);
    }
    @media all and (min-width: rem(1080)) {
      font-size: rem(25);
    }
  }
  &_input {
    border: rem(2) solid $colorBlue;
    margin: rem(10);
    @media all and (min-width: rem(768)) {
      font-size: rem(15);
    }
    @media all and (min-width: rem(1080)) {
      font-size: rem(20);
    }
  }
}
