@import '../core/functions';
@import '../core/variables';

.header {
  display: flex;
  justify-content: center;
  background-color: #030303;

  &_img {
    width: rem(300);
    height: rem(120);
    @media all and (min-width: rem(768)) {
      width: rem(500);
      height: rem(200);
    }
    @media all and (min-width: rem(1080)) {
      width: rem(600);
      height: rem(250);
    }
  }
}
