@import 'core/reset';
@import 'core/functions';

.App {
  background-image: url('../images/RyM.jpeg');
  background-repeat: repeat;
  background-size: contain;
  background-position: center center;
}
